<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Description
                                  </th>
                                  <th>
                                      Assignee
                                  </th>
                                  <th>
                                      Actions
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let task of tasks">
                                      <td>
                                          {{task.id}}
                                      </td>
                                      <td>
                                        {{task.title}}
                                      </td>
                                      <td>
                                        {{task.description}}
                                      </td>
                                      <td>
                                        {{task.assignee}}
                                      </td>
                                      <td>
                                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="editTask(task)">
                                            <i class="material-icons">edit</i>
                                            <div class="ripple-container"></div>
                                          </button>
                                          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="deleteTask(task.id)">
                                            <i class="material-icons">delete</i>
                                            <div class="ripple-container"></div>
                                          </button>
                                      </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <!-- Kopirana je Backlog tabela uz promenu polja - ne prikazujemo ID jer on treba da ostane sakriven -->
                    <h4 class="card-title ">Contributors</h4>
                    <p class="card-category">Contribution activity is a great way to see what someone has been up to on GitHub. You can see a really concise view of proposed Pull Requests, open issues and commits.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                  First name
                                </th>
                                <th>
                                  Last name
                                </th>
                                <th>
                                  Username
                                </th>
                                <th>
                                  Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let contributor of contributors">
                                    <td>
                                        {{contributor.firstName}}
                                    </td>
                                    <td>
                                        {{contributor.lastName}}
                                    </td>
                                    <td>
                                        {{contributor.userName}}
                                    </td>
                                    <td>
                                      <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                          <i class="material-icons">edit</i>
                                          <div class="ripple-container"></div>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                          <i class="material-icons">delete</i>
                                          <div class="ripple-container"></div>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                               
        </div>
    </div>
</div>
       
